body{
    margin: 0 0;
}

.tools{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: white;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}