body{
    margin: 0 0;
}

.tools{
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 10px #999;

}

button{
    background: none;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 100%;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.github-logo{
    position: absolute;
    right: 0;
    width: 70px;
}

.input{
    width: 70px !important;
    background-image: url('./img/input.png');

}

.output{
    width: 70px !important;
    background-image: url('./img/output.png');

}

.andGate{
    background-image: url('./img/andGate.png');

}

.orGate{
    background-image: url('./img/orGate.png');

}

.notGate{
    background-image: url('./img/notGate.png');

}

.nandGate{
    background-image: url('./img/nandGate.png');

}

.norGate{
    background-image: url('./img/norGate.png');

}

.xorGate{
    background-image: url('./img/xorGate.png');

}

.xnorGate{
    background-image: url('./img/xnorGate.png');

}

.bin{
    width: 40px;
}

.delete-btn{
    width: 40px !important;
    background-image: url('./img/bin.png');

}

.delete-on{
    background-image: url('./img/recycle-bin.png');

}

